@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

:root {
    --color-1: #000;
    --color-2: #4A70A9;
    --color-3: #8FABD4;
    --color-4: #EFECE3;
}

body {

    background: #0092ed;


    background: #205ee3;
    background: #205ee3;
    background: radial-gradient(circle, rgba(32, 94, 227, 0.47) 0%, rgba(15, 39, 89, 1) 49%, rgba(20, 95, 255, 0.2) 100%);

    font-family: "Trade Winds", system-ui;
    background-color: black;
    color: rgba(255, 255, 255, 0.739)
}

h1 {
    font-family: "Condiment", cursive;
}
.style_bar{
    background-image: url("Title\ bar.svg");background-size: contain;
    height: 40px;
}

