@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

:root {
    --color-1: #000;
    --color-2: #4A70A9;
    --color-3: #8FABD4;
    --color-4: #EFECE3;
}

body {
    font-family: "Trade Winds", system-ui;
    background-color: black;
    color: rgba(255, 255, 255, 0.739)
}


h1 {
    font-family: "Condiment", cursive;
}